<!DOCTYPE html>
<html lang="en">
<head>
    {{#if baseUrl}}
    <base href="{{baseUrl}}"/>
    {{/if}}
    <link rel="icon"
          type="image/png"
          href="{{pathPrefix}}favico.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{projectName}}</title>
    <link rel="stylesheet" href="{{pathPrefix}}index.css">
    <link rel="stylesheet" href="{{pathPrefix}}form.css">
    <!--      <link rel="stylesheet" href="{{pathPrefix}}typography.css">-->
    <link rel="stylesheet" href="{{pathPrefix}}auth.css"> 
    <link rel="stylesheet" href="{{pathPrefix}}ftsq.css">
</head>
<body class="ftsq-bg-gradient bg-fixed">

{{{body}}}

</body>
</html>
